In [18]:
#DDL operations
import pymysql
from datetime import date
myconn = pymysql.connect(
    host='localhost',
    user='root',
    password='@_Shreya484',
    database='pytrain'
)
cur = myconn.cursor()

#create table
def creatTable(tname):
    try:
        t = (f"create table {tname}(id int primary key auto_increment,name varchar(10),dob date,location varchar(20))")
        cur.execute(t)
        print(f"{tname} table created successfully!!")
    except:
        print(f'{tname} table already exists!!,try different name')
#creatTable('data')

#rename table name
def rename(oldname,newname):
    try:
        query=f'''alter table {oldname} rename to {newname}'''
        cur.execute(query)
        print(f'you have successfully renamed the table')
    except:
        print(f'{newname} table already exists!!,try different name')
#rename('xyz','xyzdata')

#insert column
def addcolumn(tname,cname):
    try:
        query=f'alter table {tname} add column {cname}'
        cur.execute(query)
        print(f'you have successfully inserted columns')
    except:
        print(f'{cname} column already exists!!,try different name')
#addcolumn('xyzdata','pname varchar(20) not null')

# def columnrename(tname,coldname,cnewname):
#     query=f'''alter table {tname} change {coldname} {cnewname}'''
#     cur.execute(query)
#     print(f'you have successfully renamed column')
# columnrename('xyzdata','pname','parent name')

#Rename column
def columnrename(tname, coldname, cnewname):
    try:
        query = f'''ALTER TABLE `{tname}` CHANGE `{coldname}` `{cnewname}` VARCHAR();'''
        cur.execute(query)
        print(f'You have successfully renamed the column "{coldname}" to "{cnewname}".')
    except:
        print(f'{cnewname} column already exists!!,try different name')
#columnrename('xyzdata', 'parent name', 'parname')

#modify column datatype
def modifycolumn(tname,column,dtype):
    try:    
        query=f'alter table {tname} modify column {column} {dtype}'
        cur.execute(query)
        print("column datatype modified successfully")
    except:
        print(f'{dtype} such datatype doesnt exists')
#modifycolumn('xyzdata','city','int')

#delete the table
def deletetable(tname):
    try:
        query=f'drop table {tname}'
        cur.execute(query)
        print("column deleted successfully")
    except:
        print(f'{tname} table doesnt exists!!,try different name')
#deletetable('trial')

#truncate the table
def truncate(tname):
    try:
        query=f'truncate table {tname}'
        cur.execute(query)
        print("table truncated successfully")
    except Exception as a:
        print(f'{tname} table doesnt exists!!,try different name')
#truncate('abc')

#data insert
def datainsert(tname,id,name,age):
    try:    
        query=f'insert into {tname} (id,name,age) values(%s,%s,%s)'
        values=(id,name,age)
        cur.execute(query, values)
        myconn.commit()
        print("Data inserted successfully")
    except Exception as e:
        print(f"Error in data insertion: {e}")
#datainsert('data', 7, 'vikrant', 50)


#Update('data',s)
def filter(tname,start,end):
    try:
        query=f'select * from {tname} where name like {start}%{end}'
        cur.execute(query)
        a=cur.techall()
        print(a)
    except:
        print("Error in filter function")
#filter('data','s','m')

def datainsertmany(tname,*data):
    try:    
        query=f'insert into {tname} (id,name,location,dob) values(%s,%s,%s,%s)'
        cur.executemany(query, data)
        myconn.commit()
        print("Data inserted successfully")
    except Exception as e:
        print(f"Error in data insertion: {e}")
datainsertmany('personal',(1,'shreya','jaysingpur','2004-8-4'),(2,'swyam','jaysingpur','2007-8-23'))

Data inserted successfully

In [ ]:
#Solve this it has bug
a=[]
tname = input("Enter table name: ")
while True:
    column = input('Enter column name Data type and constraints or "break": ')
    if column == "break":
        break
    a.append(column)

b=str(tuple(a))
print(f"{b}")
#query =f'create table {tanme}{b}' 
#cur.execute(query)

In [44]:
import pymysql
from datetime import date
myconn = pymysql.connect(
    host='localhost',
    user='root',
    password='@_Shreya484',
    database='pytrain'
)
cur = myconn.cursor()

#creat table
a=[]
tname = input("enter table name")
while True:
    column = input('enter the column name data types and constraints or "break":')
    if column == 'break':
        break
    a.append(column)

# b = tuple(a)
a1=",".join(a)
print(a1)
query=f'create table {tname} ({a1})'
cur.execute(query)
print("run successfully..")
# query =f'create table {tname}'
# cur.execute(query)

enter table name marks
enter the column name data types and constraints or "break": subid int
enter the column name data types and constraints or "break": sub1 int
enter the column name data types and constraints or "break": sub2 int
enter the column name data types and constraints or "break": sub3 int
enter the column name data types and constraints or "break": seat int
enter the column name data types and constraints or "break": foreign key(seat) references student(seat)
enter the column name data types and constraints or "break": break

subid int,sub1 int,sub2 int,sub3 int,seat int,foreign key(seat) references student(seat)

OperationalError: (1822, "Failed to add the foreign key constraint. Missing index for constraint 'marks_ibfk_1' in the referenced table 'student'")